MonitoringServiceClients/MonitoringServiceClients/Connected Services/MonitoringService/MonitoringService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorListener" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMonitoringListener_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/PubSubMonitoringServiceMetaData/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/PubSubMonitoringServiceMetaData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringListener_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_PublishMonitorMessageRan_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PublishMonitorMessageRan" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_ErrorOccured_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ErrorOccured" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_HeartBeat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HeartBeat" />
  </wsdl:message>
  <wsdl:message name="IMonitoringListener_HeartBeat_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HeartBeatResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMonitoringListener">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringListener/Subscribe" message="tns:IMonitoringListener_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringListener/SubscribeResponse" message="tns:IMonitoringListener_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringListener/UnSubscribe" message="tns:IMonitoringListener_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringListener/UnSubscribeResponse" message="tns:IMonitoringListener_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishMonitorMessageRan">
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringListener/PublishMonitorMessageRan" message="tns:IMonitoringListener_PublishMonitorMessageRan_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ErrorOccured">
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringListener/ErrorOccured" message="tns:IMonitoringListener_ErrorOccured_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HeartBeat">
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringListener/HeartBeat" message="tns:IMonitoringListener_HeartBeat_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringListener/HeartBeatResponse" message="tns:IMonitoringListener_HeartBeat_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMonitoringListener" type="tns:IMonitoringListener">
    <wsp:PolicyReference URI="#NetTcpBinding_IMonitoringListener_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IMonitoringListener/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IMonitoringListener/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishMonitorMessageRan">
      <soap12:operation soapAction="http://tempuri.org/IMonitoringListener/PublishMonitorMessageRan" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorOccured">
      <soap12:operation soapAction="http://tempuri.org/IMonitoringListener/ErrorOccured" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeartBeat">
      <soap12:operation soapAction="http://tempuri.org/IMonitoringListener/HeartBeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorListener">
    <wsdl:port name="NetTcpBinding_IMonitoringListener" binding="tns:NetTcpBinding_IMonitoringListener">
      <soap12:address location="net.tcp://localhost:9001/PubSubMonitoringService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/PubSubMonitoringService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>